.activities_component_container {
  /* From https://css.glass */
  background: rgba(236, 199, 255, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border: 1px solid rgba(236, 199, 255, 1);
  z-index: 1;
  width: 80%;
  padding: 20px;
}
